# Don't remove the quotation marks

[user]
	name = "Satya Tanwar"
	email = satya.tanwar@gmailcom

[github]
	user = tanwarsatya

[core]
	editor = nano
	excludesfile = ~/.gitignore_global

[color]
	ui = auto
